.group-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.group,
.add-card {
    width: 200px;
    height: 150px;
    background-color: #fdfdfd;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.group:hover,
.add-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.group-btn {
    background: #404040;
    color: #fdfdfd;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

.group-btn:hover {
    background-color: #45a049;
}

.add-card {
    font-size: 40px;
    color: #fdfdfd;
    background-color: #45a049;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-card:hover {
    background-color: #3e8e41;
}