.error-wrapper {
    width: 500px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 15px 10px -15px #111;
}

.main-title {
    font-size: 60px;
    font-weight: bold;
    margin-top: 2rem;
    margin: auto;
    text-align: center;

}

.subtitle {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 2rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.button {
    margin-top: 20px;
    width: 50%;
    height: 40px;
    border: none;
    outline: none;
    background: #000000;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 40px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}